$green:         #a3be8c;
$yellow:        #ebcb8b;
$orange:        #d08770;
$red:           #bf616a;

$white:         #fff;
$almost-white:  #eceff4;
$light-grey:    #e5e9f0;
$grey:          #d8dee9;

$night:           #2e3440;

$color-general-background: $white;
$color-main-background: $light-grey;
$color-alarm-background: $orange; 

$color-text-dark: $night;
$color-text-light: $almost-white;




