.landing {
  height: 100vh;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 40% auto;
}

.landing--wit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  line-height: 30px;
  color: $color-text-dark;

  & a {
    color: inherit;
  }
}

.landing--scene {
  background-image: url('../assets/sitting-4.png'), url('../assets/Home.png');
  background-repeat: no-repeat;
  background-position: bottom center, center;

  &.metamask {
  background-image: url('../assets/space.png');
  background-position: center;
  }
}

@media(max-width: 700px){
  .landing {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}